fpga/*/*.cache/*
fpga/*/*.runs/*
fpga/*/*.ip_user_files/*
fpga/*/*.hw
fpga/*/*.ioplanning
software/device_tree/system.dt*
software/petalinux_build/components/*
software/axi_hpm0_rw/axi_hpm0_rw
software/axi_hpm0_rw/main.o
software/boot_part/*
software/rootfs_part/*
scripts/*.tar.gz
