fpga/*/*.cache/*
fpga/*/*.runs/*
fpga/*/*.ip_user_files/*
fpga/*/*.hw
fpga/*/*.ioplanning
software/fpga_image/*.bin
software/fpga_image/*.bit
software/boot_image/*.bin
software/boot_image/*.elf
software/device_tree/system.dt*
software/fsbl/*.bit
software/fsbl/*.hdf
software/fsbl/build/*
software/fsbl/hsi*
software/fsbl/psu_init*
software/pmu/*.bit
software/pmu/*.hdf
software/pmu/build/*
software/pmu/hsi*
software/pmu/psu_init*
software/petalinux_build/components/*
software/axi_hpm0_rw/axi_hpm0_rw
software/axi_hpm0_rw/main.o
scripts/boot_part/*
scripts/rootfs_part/*

